You have been invited to MasterMeister5

Please complete your registration using the link below.

{{link}}

This link expires in {{expiresInHours}} hours.
If you were not expecting this email, please disregard it.
